/* LETRAS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/fondo_logins.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container {
    width: 29.5%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.206);
    backdrop-filter: blur(4px);
    border-radius: 27px;
}

.form__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
    margin: 0 auto;
    border-radius: 18px;
}

.form__logo--icon {
    font-size: 2.3rem;
    color: #353537;
}

.form__titulo {
    font-size: 1.5rem;
    text-align: center;
}

.form__desc {
    font-size: 1rem;
    text-align: center;
    color: #909090;
}

/*Iconos del form*/
.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    /* Espacio para el ícono */
    font-size: 16px;
}

.input-container .icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* Centra el ícono verticalmente */
    font-size: 18px;
    color: #888;
}

.form__inputs {
    /*los formularios*/
    width: 100%;
    padding: 8px;
    height: 44px;
    border-radius: 15px;
    border: 1.85px solid #f0f2f6;
    margin: 11px 0;
    background-color: #f0f2f6;
    text-indent: 8px;
    /* Ajusta el indentado para el texto ingresado */

}

.form__inputs--enviar {
    background-color: #23232b;
    color: white;
    height: 50px;
    text-transform: capitalize;
}

.login__input--enviar:hover {
    background-color: rgb(66, 64, 64);
}

.custom-placeholder::placeholder {
    font-size: 14px;
    letter-spacing: .3px;
    opacity: .8;
    /* padding-left: 8px; */
}

.custom-placeholder:focus::placeholder {
    color: transparent;
    /* Hacerlo desaparecer al hacer foco */
}


/* Estilo del botón para el ícono del ojo */
.input-container .toggle-password {
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translateY(-50%);
    /* Esto lo centra verticalmente */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Estilo del ícono del ojo */
#eye-icon {
    font-size: 18px;
    color: #aaaaaab7;
}

.form-link {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    color: #6c66669f;

}


/*Seccion del registro ajustes*/
.form__container--registro {
    width: 50%;
    height: auto;
    border-radius: 30px 0 0 30px;
}


.form__double {
    display: flex;
    /* background-color: red; */
    width: 62%;
    border-radius: 30px;
}

.form__imagen__container {
    width: 50%;
    background-color: white;
    background-image: url(fondo_lateral.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 30px 30px 0;

}
