* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.rellenar__datos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form__inputs {
    /*los formularios*/
    width: 20%;
    padding: 8px;
    height: 44px;
    border-radius: 15px;
    margin: 11px 0;
    background-color: black;
    color: white;
}